<div style="width: 100%; height: 3.5em; background-color: beige; border-bottom: 2px solid black;">
    <div class="pull-left" style="margin: 1em 0 0 1em;">
      <b>rails-facebook-test</b>
    </div>
    <div class="pull-right" style="padding: .3em 1em;">
      <% if user_signed_in? %>
        Signed in as <strong><%= current_user.email %></strong>!
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
      <% else %>
        
        <%- if devise_mapping.omniauthable? %>
          <%- resource_class.omniauth_providers.each do |provider| %>
            <%= link_to "Sign in with #{OmniAuth::Utils.camelize(provider)}", omniauth_authorize_path(resource_name, provider), class: 'btn btn-info' %>
          <% end -%>
        <% end -%>

        <%= link_to "Sign In", new_user_session_path, class: 'btn btn-primary' %>
        <%= link_to "Sign Up", new_user_registration_path, class: 'btn btn-warning' %>

      <% end %>
    </div>
  </div>