<!DOCTYPE html>
<html>
<head>
  <title>RailsFacebookTest2</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>

  <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <style>
    .btn { color: white !important; }
  </style>
</head>
<body>

  <%= render 'layouts/navigation' %>
  <div style="padding: 0 1em;">
    <%= yield %>
  </div>

  <h2>Tutorials that fueled this project</h2>
  <ul>
    <li><%= link_to 'DigitalOcean: how to configure devise and omniauth for your rails application', 'https://www.digitalocean.com/community/tutorials/how-to-configure-devise-and-omniauth-for-your-rails-application' %></li>
    <li><%= link_to 'Devise How To: Allow users to edit their password', 'https://github.com/plataformatec/devise/wiki/How-To:-Allow-users-to-edit-their-password' %></li>
  </ul>

</body>
</html>
